@import "lib/bootstrap/bootstrap.less";
@import "lib/font-awesome/less/font-awesome.less";
@fa-font-path: "./lib/font-awesome/fonts";

@import "components/chat-box.less";
@import "components/online-players.less";
@import "components/filter-query.less";
@import "pages/index.less";
@import "pages/game-room.less";

body {
  padding-top: @navbar-height;
}

.wrap {
}

@sidebar-width: 350px;
.app-sidebar {
  position: absolute;
  left: -@sidebar-width;
  top: 0;
  bottom: 0;
  width: @sidebar-width;
  opacity: 0;
  background: #aaf;
}
.application {
  opacity: 1;
  background-color: #fff;
}
.sidebar-open {
  .app-sidebar {
    left: 0;
    opacity: 1;
  }
  .application {
    opacity: 0.8;
    transform: translate(@sidebar-width, 0);
    -webkit-transform: translate(@sidebar-width, 0);
  }
}

.tabular {
  .clearfix;

  > li {
    width: 48%;
    float: left;
    margin: 0 2% 0 0;
    &:nth-child(2n) {
      margin: 0 0 0 2%;
    }
  }
  
  .single() {
    > li {
      width: 100%; margin: 0;
      &:nth-child(2n) { margin: 0; }
    }
  }
  &.single {
    .single();
  }
  @media (max-width: 1000px) {
    .single();
  }

  .game-room-summary {
    &.aoh {
      .panel-heading {
        background-color: #e5f5e5;
      }
    }
    
    .panel-heading {
//    font-size: 12pt;
//    font-weight: bold;
      .row > div {
        .text-overflow();
      }
    }
  
    .list-inline {
      margin-bottom: 0;
    }
    
    .btn {
      margin-top: -7.5px;
      margin-bottom: -7.5px;
    }
  }
}

.small-center {
  width: 300px;
  height: 100px;
  margin: -50px 0 0 -150px;
  top: 50%;
  left: 50%;
  position: fixed;
}

.user-tooltip {
  z-index: @zindex-tooltip;
}

#context-menu {
  position: absolute;
  float: none;
  z-index: 1060;
  margin: 3px;
  
  &.open { display: block }
}