<h1>{{title}}</h1>
<div class="row">
  <div class="col-lg-3 players">
    <ul class="list-unstyled">
      {{#each players}}
        {{view App.UsernameView tagName="li"}}
      {{/each}}
    </ul>
  </div>
  <div class="col-lg-9 chat">
  </div>
</div>