<div class="user-tooltip hide panel panel-default" style="height:auto; min-width:150px">
  <header class="panel-heading">{{view App.UsernameView}}</header>
  <div class="panel-body">
    <strong class="text-success"><i class="fa fa-check-circle"></i> Online</strong>
  </div>
  <table class="table">
    <thead>
      <tr> <th>Ladder</th> <th>ELO</th> </tr>
    </thead>
    <tbody>
      {{#each ratingsArray}}
        <tr> <td>{{ladderName ladderId}}</td> <td>{{rating.elo}}</td> </tr>
      {{/each}}
    </tbody>
  </table>
</div>