<div class="dropdown filter-query-wrap">
  <div class="input-group">
    <div class="form-control filter-query" contenteditable></div>
    <div class="input-group-addon" data-toggle="dropdown" data-target=".filter-query-wrap">
        <i class="fa fa-search"></i>
    </div>
  </div>
  <ul class="dropdown-menu">
    <li data-preset="AoC and RM"><a href="#">Random Map <code>AoC and RM</a></code></li>
    <li data-preset="rating=2k+ and spectate"><a href="#">Watch 2k+ <code>rating=2k+ and spectate</a></code></li>
  </ul>
</div>