<div class="dropdown filter-query-wrap">
  <div class="input-group">
    <div class="form-control filter-query" contenteditable></div>
    <div class="input-group-addon" data-toggle="dropdown" data-target=".filter-query-wrap">
        <i class="fa fa-search"></i>
    </div>
  </div>
  <div class="dropdown-menu">
    <strong>Presets</strong>
    <ul class="list-unstyled">
      <li data-preset="AoC and RM">Random Map <code>AoC and RM</code></li>
      <li data-preset="rating=2k+ and spectate">Watch 2k+ <code>rating=2k+ and spectate</code></li>
    </ul>
  </div>
</div>